/* 
Primária (Destaque): #28535a (tons sóbrios para headers, footer e elementos estruturais).
Secundária (Ações): #c00d7b (botões, links e destaques).
Terciária (Energia): #fa7e34 (hover, ícones, elementos interativos).
Acessória (Brilho): #ffc645 (fundos claros, destaques positivos, textos sobre fundos escuros).
*/
:root {
  --color-primary: #28535a;
  --color-secondary: #c00d7b;
  --color-tertiary: #fa7e34;
  --color-accent: #ffc645;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #d1d5db;
  --color-grey50: #9ca3af;

  --font-primary: "Barlow Condensed", sans-serif;
  --font-secondary: "Nunito", sans-serif; /* Corrigi o typo aqui (secundary → secondary) */
}

body,
html {
  scroll-behavior: smooth;
  min-height: 100vh;
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding-top: 80px; /* Compensar header fixo ao fazer scroll */
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Aplicando Barlow Condensed para todos os headings h1 até h5 */
h1, h2, h3, h4, h5 {
  font-family: var(--font-primary) !important;
}

/* Aplicando Nunito para parágrafos */
p {
  font-family: var(--font-secondary);
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-inline: 1rem;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .container {
    padding-inline: 2rem;
  }
}